/* Importation correcte de la police */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}


/* Définition des variables CSS */

:root {
    --bg-color: #1f242d !important;
    --second-bg-color: #282d35 !important;
    --text-color: #fff !important;
    --main-color: #8454d7 !important;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header .sticky {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img {
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 01rem var(-main-);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-img img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.about-img img:hover {
    transform: scale(1.05);
}

.about-content {
    flex: 1;
    max-width: 600px;
}

.about-content .heading {
    font-size: 4.5rem;
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content h2 {
    font-size: 1.2rem;
    text-align: left;
}

.about-content p {
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #8454d7 !important;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: white;
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    /* Limite la largeur pour éviter l'étirement  margin: auto; */
}

.services-container .services-box {
    flex: 1 1 calc(33.33% - 2rem);
    /* Afficher 3 services par ligne */
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
    min-width: 300px;
}

.services-container .services-box:hover {
    transform: scale(1.02);
    border-color: var(--main-color);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: justify;
    font-size: 1.6rem;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: 0.5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


/*--breakpoints--*/

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .portfolio {
        padding-bottom: 7rem;
    }
    .contact {
        min-height: auto;
    }
    .footer {
        padding-bottom: 7rem;
    }
    .services {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
}


/* Importation correcte de la police */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}


/* Définition des variables CSS */

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


/* Style du header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.header .sticky {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}


/* Style des liens de navigation */

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 01rem var(-main-);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-img img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.about-img img:hover {
    transform: scale(1.05);
}

.about-content {
    flex: 1;
    max-width: 600px;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content h2 {
    font-size: 1.2rem;
    text-align: left;
}

.about-content p {
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: cyan;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: white;
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    /* Limite la largeur pour éviter l'étirement  margin: auto; */
}

.services-container .services-box {
    flex: 1 1 calc(33.33% - 2rem);
    /* Afficher 3 services par ligne */
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
    min-width: 300px;
    /* Évite que les boxes deviennent trop petites */
}

.services-container .services-box:hover {
    transform: scale(1.02);
    border-color: var(--main-color);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: justify;
    font-size: 1.6rem;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: 0.5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


/*--breakpoints--*/

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .footer {
        padding: 2rem 3%;
    }
}


/* Importation correcte de la police */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}


/* Définition des variables CSS */

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


/* Style du header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.header .sticky {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img {
    width: 20vw;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 01rem var(-main-);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-img img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.about-img img:hover {
    transform: scale(1.05);
}

.about-content {
    flex: 1;
    max-width: 600px;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content h2 {
    font-size: 1.2rem;
    text-align: left;
}

.about-content p {
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: cyan;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: white;
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    /* Limite la largeur pour éviter l'étirement  margin: auto; */
}

.services-container .services-box {
    flex: 1 1 calc(33.33% - 2rem);
    /* Afficher 3 services par ligne */
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
    min-width: 300px;
    /* Évite que les boxes deviennent trop petites */
}

.services-container .services-box:hover {
    transform: scale(1.02);
    border-color: var(--main-color);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: justify;
    font-size: 1.6rem;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: 0.5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


/*--breakpoints--*/


/* === Header === */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    font-size: 1.4rem;
}


/* === Navbar Desktop (Affichage normal) === */

.navbar {
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}

.navbar a:hover {
    background: #555;
    border-radius: 5px;
}


/* === Icône Menu Burger (Caché par défaut) === */

#menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}


/* === Responsive: Mobile Menu === */

@media (max-width: 991px) {
    .navbar {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }
    .navbar.active {
        display: flex;
    }
    .navbar a {
        display: block;
        padding: 15px;
        font-size: 18px;
    }
    /* Afficher le menu burger */
    #menu-icon {
        display: block;
        text-align: center;
    }
}

.home {
    flex-direction: column;
}

.home-content h3 {
    font-size: 2.6rem;
}

.home-content h1 {
    font-size: 5rem;
}

.home-img {
    width: 10vw;
    margin-top: 1rem;
}

.about {
    flex-direction: column-reverse;
}

.about img {
    width: 70 vw;
    margin-top: 4rem;
}

.services h2 {
    margin-bottom: 3rem;
}

.portfolio h2 {
    margin-bottom: 3rem;
}

.portfolio-container {
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    .html {
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }
    .about-img img {
        width: 90vw;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

.stage-cube-cont {
    width: 50%;
    height: 50vh;
    padding-bottom: 20rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
}

.cubespinner div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
}

.cubespinner img {
    width: 65%;
}

.face1 {
    transform: translateZ(100px);
    color: #dd0031;
}

.face2 {
    transform: rotateY(90deg) translateZ(100px);
    color: #f06529;
}

.face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #28a4d9;
}

.face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    color: #5ed4f4;
}

.face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #efd81d;
}

.face6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #ec4d28;
}

@keyframes spincube {
    from,
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: rotateY(-90deg);
    }
    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
        transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
        transform: rotateX(90deg);
    }
}

@media (max-width: 768px) {
    .stage-cube-cont {
        width: 100%;
        height: 25%;
        padding-top: 7%;
        margin-left: 0;
        overflow: hidden;
        position: absolute;
        bottom: -950px;
        right: 0px;
        display: flex;
        justify-content: flex-end;
    }
    .cubespinner {
        transform-origin: 10px 10px 0;
        margin-right: 100px;
        margin-top: 30px;
    }
    .cubespinner div {
        width: 30px;
        height: 30px;
        font-size: 50px;
    }
    .cubespinner img {
        width: 50px;
    }
    .face1 {
        transform: translateZ(40px);
        color: #dd0031;
    }
    .face2 {
        transform: rotateY(90deg) translateZ(40px);
        color: #f06529;
    }
    .face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(40px);
        color: #28a4d9;
    }
    .face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(40px);
        color: #5ed4f4;
    }
    .face5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(40px);
        color: #efd81d;
    }
    .face6 {
        transform: rotateX(-90deg) translateZ(40px);
        color: #ec4d28;
    }
}

.skills-section {
    padding: 10rem 9% 2rem;
    background: #3b4354 !important;
    text-align: center;
    min-height: 50vh;
}

.section-title {
    font-size: 4.5rem;
    color: var(--text-color);
    margin-bottom: 4rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 3rem;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color);
    padding: 1.2rem;
    border-radius: 1.5rem;
    border: 0.2rem solid var(--main-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100px;
    height: 120px;
    text-align: center;
}

.skill:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.skill img {
    width: 50px;
    height: 50px;
    margin-bottom: 0.8rem;
    transition: transform 0.3s ease;
}

.skill:hover img {
    transform: scale(1.1);
}

.skill span {
    font-size: 1.4rem;
    color: var(--text-color);
}

@media (max-width: 768px) {
    .footer-iconTop {
        left: 50% !important;
        right: auto !important;
        padding-top: 2rem;
        transform: translateX(334%) !important;
    }
}